<!doctype html>
<html class="no-js" lang="{{ $.Site.LanguageCode | default "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ block "title" . }}{{ end }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="/icon.png">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700%7CUbuntu+Condensed" rel="stylesheet">
    </head>
    <body>
        <div id="container">
            <header>
                {{ if not .IsHome }}<a href="/">{{ end }}
                    <img src="/img/bbk-logo-burgundy.png" alt="Birkbeck, University of London" />
                {{ if not .IsHome }}</a>{{ end }}
                <div id="sitename">{{ $.Site.Title }}</div>
                <nav>
                    <ul>
                        <li{{ if .IsHome }} class="active"{{ end }}>
                            {{ if not .IsHome }}<a href="/">{{ end }}Home{{ if not .IsHome }}</a>{{ end }}
                        </li>
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                        {{ if not $currentPage.Parent }}
                        <li>
                            <a href="{{.URL}}">{{ .Name }}</a>
                        </li>
                        {{ else }}
                        <li{{ if $currentPage.HasMenuCurrent "main" . }} class="active"{{ end }}>
                            {{ if or (not ($currentPage.HasMenuCurrent "main" .)) (not ($currentPage.Parent.IsHome)) }}<a href="{{.URL}}">{{ end }}{{ .Name }}{{ if or (not ($currentPage.HasMenuCurrent "main" .)) (not ($currentPage.Parent.IsHome)) }}</a>{{ end }}
                        </li>
                        {{ end }}
                        {{ end }}
                    </ul>
                </nav>
            </header>
            <main>
                <h1>{{ block "heading" . }}{{end}}</h1>
                {{ block "main" . }}{{ end }}
            </main>
        </div>
        <footer>
            <ul>
                <li>&copy; Birkbeck, University of London {{ $.Site.Params.longyear }}</li>
                <li>Hosted by <a href="http://www.dreamhost.com/r.cgi?77128">DreamHost</a></li>
            </ul>
        </footer>
        <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-108227869-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
